@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*GENERAL*/
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}
a,
a:visited{
    text-decoration: none;
    color: #191927;
}
a:hover{
    color: #255183;
}
a:active{
    color: #478fe0;
}
/*BACKGROUND*/
body{
    background-color: #191927;
    background-image: url("./img/bg-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.body-shade{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: -1;
}
/*CONTENT*/
body{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
}
@media screen and (max-width: 500px){
    .content{
        flex-direction: column;
    }
}
/*HERO*/
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(30vw,30vw,60vw);
    padding: 2rem;
}
.hero-logo{
    width: clamp(1rem, 5rem, 10rem);
}
.hero-title{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: white;
}
@media screen and (max-width: 500px){
    .hero-logo{
        width: clamp(1rem, 3rem, 5rem);
    }
    .hero-title{
        font-size: 1rem;
    }
}
/*SUBSCRIBE CARD*/
.card{
    display: flex;
    flex-direction: column;
    width: clamp(40vw,50vw,70vw);
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-fields{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-weight: bolder;
}
.form-fields-name,
.form-fields-contact,
.form-fields-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 800px){
    .form-fields-name,
    .form-fields-contact,
    .form-fields-password{
        justify-content: center;
        flex-wrap: wrap;
}
}
#form-fname,
#form-lname,
#form-email,
#form-tel,
#form-password,
#form-password-confirm{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
}
.input{
    font-size: 1rem;
    background-color: #eee;
    padding: 5px;
    border-radius: 3px;
}
.input:focus{
    outline-color: #478fe0;
}
.error{
    border: 1px solid red;
    border-color: red;
}
.error-wrap{
    color: red;
    margin-left: 0.5rem;
    margin-top: -0.5rem;
    font-size: 0.7rem;
    height: 1rem;
}
#error-msg{
    display: none;
}
#form-button{
    background-color: #191927;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
}
#form-button:hover{
    background-color: #255183;
}
#form-button:active{
    background-color: #478fe0;
}
.login{
    font-size: 0.85rem;
    margin-top: 1rem;
}


/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 90%);
    padding: 1rem;
}